html,
body {
  margin: 0;
  height: 100%;
  background-color: #f7f7f7;
  font-family: Oxygen, sans-serif;
  font-size: 14px;
}
html ul,
body ul {
  margin: 0;
  padding-left: 10px;
}
.header {
  background-color: #1d365d;
  color: #b9c8e0;
  padding: 10px 20px;
}
.bodyContent {
  background-color: #ffffff;
  width: 820px;
  margin: 0 auto;
  padding: 15px;
}
.bodyContent .divider {
  border: none;
  height: 1px;
  background-color: #b9c8e0;
}
.bodyContent .bodySection {
  width: 820px;
  margin: 15px 0;
}
.bodyContent .bodySection .title {
  display: inline-block;
  width: 185px;
  margin-right: 15px;
  vertical-align: top;
}
.bodyContent .bodySection .content {
  display: inline-block;
  width: 615px;
}
.bodyContent .bodySection .content .skillsList {
  padding-left: 0;
}
.bodyContent .bodySection .content .skillsList li {
  display: inline-block;
  list-style: none;
  width: 195px;
  margin-right: 5px;
}
.bodyContent .bodySection .content .jobRow {
  margin-bottom: 10px;
}
.bodyContent .bodySection .content .jobRow .logoHolder {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.bodyContent .bodySection .content .jobRow .logoHolder .logo {
  display: inline-block;
  vertical-align: middle;
  float: right;
}
.bodyContent .bodySection .content .jobRow .job {
  display: inline-block;
  vertical-align: middle;
}
.bodyContent .bodySection .content .jobRow .job .companyName {
  font-size: 18px;
  font-weight: bold;
}
.bodyContent .bodySection .content .jobRow .job .jobTitle {
  font-size: 18px;
}
.bodyContent .bodySection .content .mainInternship {
  margin-bottom: 10px;
}
.bodyContent .bodySection .content .mainInternship .jobRow {
  margin-bottom: 5px;
}
.bodyContent .bodySection .content .internshipNoDetail {
  display: inline-block;
  width: 300px;
}
.bodyContent .bodySection .content .internshipNoDetail .logoHolder {
  width: 100px;
}
.bodyContent .bodySection .content .internshipNoDetail .job {
  width: 190px;
}
.bodyContent .bodySection .content .internshipNoDetail.right .logoHolder {
  width: 90px;
}
.bodyContent .bodySection .content .internshipNoDetail.right .job {
  width: 200px;
}
.bodyContent .bodySection .content .internshipNoDetail.left {
  margin-right: 10px;
}
.logo {
  width: 60px;
  height: 60px;
}
.logo.infonova {
  width: 80px;
  height: 30px;
}
.logo.varicent {
  width: 90px;
  height: 30px;
}
.logo.short {
  height: 50px;
}
.logo.shorter {
  height: 20px;
}
.logo.wide {
  width: 75px;
}
.logo.wider {
  width: 100px;
}
